/*
	website styling
*/

//base html overwrites
html {
  height: 100%;
}
body {
	min-height: 100%;
	font-family: 'sans-serif';
	margin: 0px;
	background-color: rgba(250, 240, 224, .4);
}

a {
	color: rgba(256, 256, 256, .65);
	text-decoration: none;
}

a:hover {
	color: rgba(256, 256, 256, 1);
}


//generic styling
.large-text {
	font-size: 24px;
}

.row-padding {
	padding-left: 32px;
	padding-right: 32px;
}

//header styling
.header-text {
	padding-left: 12px;
	padding-right: 12px;
}

.header {
	padding-top: 32px;
	padding-bottom: 32px;
	margin-bottom: 16px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.55);
	background-color: rgba(250, 91, 77, .9);
	text-align: center;
}

//blog styling
.blog-page {
	display: flex;
}

.post-entry-list {
	width: 132px;
	overflow-y: hidden;
}

.post-entry {
	padding-top: 12px;
	padding-left: 12px;

	.title {
		color: green;
	}
	.date {
		color: blue;
	}
}

.post {
	width: calc(100% - 132px);
	
	.title {
		@extend .large-text;
		margin-bottom: 8px;
	}
	
	.date {
		margin-bottom: 8px;
	}
}