/*
	website styling
*/

//base html overwrites


html, body {
	height: 100%;
	min-height: 100%;
	font-family: 'san-serif';
	margin: 0px;
	background-color: rgba(250, 240, 224, .15);
}

a {
	color: rgba(256, 256, 256, .65);
	text-decoration: none;
}

a:hover {
	color: rgba(256, 256, 256, 1);
}

p {
	color: #3b3b3b;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//generic styling
.full-page {
	height: 100%;
	min-height: 100%;
}

.component-page {
	height: calc(100% - 127px);
	padding: 24px;
}

.large-text {
	font-size: 24px;
}

.row-padding {
	padding-left: 32px;
	padding-right: 32px;
}

//header styling
.header-text {
	padding-left: 12px;
	padding-right: 12px;
}

.header {
	padding-top: 32px;
	padding-bottom: 32px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.55);
	background-color: rgba(70, 61, 127, .9);
	text-align: center;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//blog styling
.blog-page {
	display: flex;
}

.post-entry-list {
	width: 132px;
	overflow-y: hidden;
}

.post-entry {
	padding-top: 12px;
	padding-left: 12px;

	.title {
		color: green;
	}
	.date {
		color: blue;
	}
}

.post {
	width: calc(100% - 132px);
	
	.title {
		@extend .large-text;
		margin-bottom: 8px;
	}
	
	.date {
		margin-bottom: 8px;
	}
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//landing styling 
.post-snippet {
	padding: 32px 32px 32px 32px;
	border-bottom: solid;
	border-bottom-color: rgba(70, 61, 127, .4);
	border-bottom-width: 2px;
	
	.title {
		@extend .large-text;
		margin-bottom: 8px;
	}
	
	.date {
		margin-bottom: 8px;
	}
	
	.tag {
		background: #EEE;
		border-radius: 8px;
		font-weight: 550;
		padding: 4px;
		margin: 8px;
		color: #333;
	}
}

.post-snippet:first-child {
	padding: 16px 32px 32px 32px;
}

.post-snippet:last-child {
	border-bottom: none;
}